node_modules
.env
coverage
coverage.json
typechain
typechain-types
data
src/types

# Hardhat files
cache
artifacts
bin

# local files
.openzeppelin/

# Forge Files
forge_cache/
out/
broadcast/
.gas-snapshot

# local files
DesignPrinciples.md
Notes.md
notes.md
Docs.md
